<style>
    nav > .btn
    {
        width: 95%;
    }

    .btn-secondary
    {
        background-color: #252D5C !important;
        border-color: #252D5C !important;
    }

    .btn-secondary:hover
    {
        background-color: #586497 !important;
        border-color: #586497 !important;
    }
</style>
<nav class = "text-center">
    <div class = "mb-3 mt-1">
        <img src = "/img/favicon.svg" class = "3D Print Console" height = "48">
        <span class = "text-white fw-bold">3D Print Console .NET</span>
    </div>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/">⬅️ 3D Print Console</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin">🏠 Admin Home</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin/printers">⏹️ Printers</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin/cameras">📸 Cameras</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin/config">🛠️ Config</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin/widgets">📦 Widgets</a>
    <a type = "button" class = "btn btn-secondary btn-lg p-b4 mb-4" href = "/admin/logviewer">🗒️ Log Viewer</a>
</nav>